<h1>New exchange</h1>

<% form_for(@exchange) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :opening %><br />
    <%= f.select :openhour, Exchange.hours(), { :selected => '9'} %>
    <%= f.select :openminute, Exchange.minutes(), { :selected => '30'} %>
  </p>
  <p>
    <%= f.label :closing %><br />
    <%= f.select :closehour, Exchange.hours(), { :selected => '16'} %>
    <%= f.select :closeminute, Exchange.minutes(), { :selected => '00'} %>
  </p>
  <p>
    <%= f.label :timezone %><br />
    <%= f.select :timezone, Exchange.timezones(), { :selected => 'Eastern Time (US & Canada)'} %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', exchanges_path %>
