<h1>Listing teachers</h1>

<table>
  <tr>
    <th>Photo</th>
    <th>Name</th>
    <th>Room</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @teachers.each do |teacher| %>
  <tr>
    <td>
<% if teacher.photo != nil %>
<%= link_to image_tag(teacher.photo.image.url(:original)), edit_photo_path(teacher.photo, :title => teacher.name, :teacher_id => teacher.id ) %>
<% end %>
    </td>
    <td><%= teacher.name %></td>
    <td>
      <% if teacher.room != nil %>
        <%= teacher.room.name %>
      <% else %>
        nil
      <% end %>
    </td>
    <td><%= link_to 'Show', teacher %></td>
    <td><%= link_to 'Edit', edit_teacher_path(teacher) %></td>
    <td><%= link_to 'Destroy', teacher, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Teacher', new_teacher_path %>
