<div id="webcam"></div>
<script type="text/javascript">
  function upload_complete(msg) {
    if (msg == 'ok') {
      $('#submit_form').show();
      $('#take_picture').hide();
    } else {
      alert('An error occured');
      webcam.reset();
    }
  }
  
  webcam.set_swf_url('/webcam.swf');
  webcam.set_api_url('<%= upload_photos_path %>');
  webcam.set_quality(90);
  webcam.set_shutter_sound(true, '/shutter.mp3');
  webcam.set_hook('onComplete', 'upload_complete');
  $('#webcam').html(webcam.get_html(320, 240));
</script>

<input type="button" id="take_picture" value="Take picture" onclick="webcam.snap();" />


<div id='submit_form' style="display: none">
<%= form_for @photo do |f| %>

  <%= f.hidden_field(:return_path, params[:return_path]) %>

  <% if @photo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@photo.errors.count, "error") %> prohibited this photo from being saved:</h2>

      <ul>
      <% @photo.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p>
  <div class="actions">
    <%= f.submit "Save the photo" %>
  </div>
    or
  <div class="actions">
    <%= link_to "Take another", new_photo_path %>
  </div>
  </p>

<% end %>
</div>
<br />
