<% if @teacher == nil %>
<h1>Editing photo</h1>
<% else %>
<h1>Photo for <%= @teacher.name %></h1>
<% end %>

<%= render 'form' %>

<% if @teacher == nil %>
<%= link_to 'Show', @photo %> |
<%= link_to 'See all', photos_path %>
<% else %>
<% if ( @teacher != nil) %>
  <%= link_to 'Show', @teacher %> |
<% end %>
<%= link_to 'See all', teachers_path %>
<% end %>
