<h1>Listing photos</h1>


<table>
  <% @photos.each do |photo| %>
    <tr>
      <td><%= link_to image_tag(photo.image.url(:original)), photo %></td>
      <td><%= link_to 'Show', photo %></td>
      <td><%= link_to 'Edit', edit_photo_path(photo) %></td>
      <td><%= link_to 'Destroy', photo, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>
</p>
<p>
  <%= link_to "New picture", new_photo_path %>
</p>
